@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

body{
  background:#FFF;
  margin:15%;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
.title{
  font-size: 45px;
  font-style: oblique;
}
.buttons{
  width:50px;
  padding: 10px;
}

.list{
  /*margin:100px;*/
  padding:10px;
}
