

body{
  font-family: sans-serif;
  background:#FFF;
  text-align: center;
}

.container {
  padding-top: 40px;
  margin: 0 auto;
}
.home{
  animation: fade-down;
}

.photo {
  padding: 40px;
  height:10%;
  width:10%;
  border-radius:100%;
  box-shadow:0px 5px 10px rgba(0,0,0,.3);
}

.fade-down {
    animation: 0.6s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}

@@keyframes fade-down{
0% {
    opacity: 0;
    transform: translateY(-10px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}

}
